:root{
    --pr-color:rgb(168, 57, 233);
    --pr1-color:rgba(119, 27, 172, 0.842);
    --hover-t:0.24s;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/* *********************************************NavBar******************************* */
.navbar{
    position: fixed;
    width: 100%;
    display:flex;
    background-color:var(--pr-color);
    flex-wrap: wrap;
    justify-content:space-around;
    box-shadow: 0 8px 6px -6px black;
    z-index: 1;
}
.navbar .logo:hover{
   cursor: pointer;
}
.navbar .logo img{
    height:70px;
    width: auto;
    padding-top:5px;
    margin-left:10px;
}
.navbar>ul{
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    
}
.navbar >ul li{
    flex:1;
    list-style: none;
    height: 100%;
    
}

.navbar >ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top:12px;
    padding: 12px 12px 012px 12px;
    height: 70%;
}
.navbar >ul li:last-child a{
    min-width:130px;
}
.navbar >ul li a:hover{
    background-color:var(--pr1-color);
    border-radius: 5px;
    border-bottom:5px solid rgba(0, 0, 0, 0.11);
}
.clear{
    height: 70px;
    clear: both;
}
/* *********************************************BMenu******************************** */
.BMenu{
    z-index:3;
    display: block;
    position:fixed;
    right:30px;
    top:10px;
    visibility: hidden;
    opacity:0;
    width:50px;
    height: 50px;
    cursor: pointer;
}
.BMenu-cont{
    z-index:2;
    position:fixed;
    right:30px;
    top:10px;
    visibility: hidden;
    opacity:0;
    background-color: var(--pr1-color);
    width:50px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
}
.BMenu-cont ul{
    display:flex;
    height: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:auto;
    list-style: none;
}
.BMenu-cont ul li{
    display: block;
    height: 3px;
    width:30px;
    margin:auto;
    background-color: #fff;
    
}
/* *********************************************Hero******************************** */
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0.158)), url("../Images/Hero.png");
    background-position: left left;
    background-size:cover;
    background-repeat: no-repeat;
    color:white;
    padding:15% 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hero .hero-des{
    flex:2;
}
.hero .hero-des h1{
font-size: 60px;
}
.hero .hero-des .des{
    width:20rem;
    font-size: 1.2rem;
}
.hero .hero-des .downloads a{
    display:inline-block;
    background:white;
    margin:15px 0;
    padding:15px 10px 7px 30px;
    text-decoration: none;
    font-size: 1.2rem;
    color:black;
    width:12rem;
    text-align:center;
    border-radius: 5px;
    border-bottom:5px solid rgba(0, 0, 0, 0);
    position: relative;
    font-weight: bold;
}
.hero .hero-des .downloads .google a img, .hero .hero-des .downloads .apple a img{
    height: 40px;
    width: auto;
    position: absolute;
    top:5px;
    left:15px;
}
.hero .hero-des .downloads a:hover{
    background:var(--pr1-color);
    border-bottom:5px solid rgba(0, 0, 0, 0.11);
    color:white;

}
.hero .hero-img{
    flex:3;
}
.hero .hero-img img{
    max-width:100%;
    height: auto;
}
/* *********************************************Main******************************** */
/* *********************************************Fearures******************************** */
.container{
    text-align: center;
    margin:50px auto;
}
.container> h2{
    margin-top: 50px;
    font-size:2rem;
    margin-bottom: 40px;
}

.container .cont-features{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.container .cont-features .features{
    max-width:350px;
    min-height: 300px;
    background-color: rgb(240, 240, 240);
    margin-bottom:40px;
    box-shadow: 0 7px 17px -3px black;
    transition:transform var(--hover-t) ease;   
}
.container .cont-features .features:hover{
    transform: scale(1.1);
}
.container .cont-features .features img{
    width:100%;
    height: auto;
}
.container .cont-features .features h3{
    font-size: 1.3rem;
    margin:5px;
}
.container .cont-features .features p{
    font-size: 1.1rem;
    margin-bottom: 10px;
}
/* *********************************************Pricing******************************** */
.container .cont-pricing{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.container .cont-pricing .pricing{
    min-width:350px;
    min-height: 300px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 7px 17px -3px black;
    transition:transform var(--hover-t) ease; 
    margin-top: 50px;
}
.container .cont-pricing .pricing:hover{
    transform: scale(1.1);
}
.container .cont-pricing .pricing h2{
    width:100%;
    background-color: var(--pr1-color);
    font-size: 2rem;
    padding:30px 15px 30px 15px;
    color: white;
}
.container .cont-pricing .pricing h3{
    font-size: 1.4rem;
    margin-top: 12px;
}
.container .cont-pricing .pricing li{
    list-style: none;
    font-size: 1.1rem;
    margin-top: 10px;
}
.container .cont-pricing .pricing .btn{
    display:inline-block;
    background:var(--pr1-color);
    text-decoration: none;
    color:white;
    font-size: 1.2rem;
    width:12rem;
    text-align:center;
    border-radius: 5px;
    font-weight: bold;
    padding:10px;
    margin-top:10px;
    margin-bottom: 10px;
}
/* *********************************************parteners******************************** */
.container .cont-parteners{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.container .cont-parteners img{
    max-width:100px;
    height: auto;
}
.container .cont-parteners div:first-child img, .container .cont-parteners div:last-child img{
    max-width:200px;
    height: auto;
    padding-top: 10px;
}
/* *********************************************footer******************************** */
/* *********************************************aside******************************** */
.forms{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--pr1-color);
    color:white;
    min-height: 100px;
}
.forms .contact-form{
    flex:1;
    border-right: rgba(0, 0, 0, 0.521) solid 3px;
    height:100%;
    padding:30px 10px 10px 10px;
}
.forms .contact-form h4{
    font-size: 1.5rem;
}
.forms .contact-form ul li{
    padding:5px;
    font-size: 1.1rem;
}
.forms .contact-form ul li span{
    font-weight: bold;
}
.forms .email-us{
    flex:2;
    padding:30px 10px 10px 10px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.forms .email-us textarea{
    max-width:70%;
    
    margin: 5px 0 10px 10px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 1.1rem;
}
.forms .email-us input[type="email"]{
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 1.1rem;
    margin: 5px 0 10px 10px;
    width:40%;
}
.forms .email-us button{
    display:inline-block;
    border:0px solid black;
    background:white;
    color:black;
    font-size: 1.2rem;
    width:20%;
    text-align:center;
    border-radius: 5px;
    font-weight: bold;
    padding:10px;
    margin: 5px 0 10px 10px;
    
}
.forms .email-us button:hover{
    background:var(--pr1-color);
    border-bottom:5px solid rgba(0, 0, 0, 0.11);
    color:white;
}
/* *********************************************navbar1******************************** */
.navbar1{
    background-color: var(--pr-color);
    padding:20px;
}
.navbar1 h4{
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: 1.2rem;
    
}
/* *********************************************media quiery******************************** */
@media (max-width:652px){
    .navbar{
        justify-content: space-around;
        flex-direction: column;
    }
    .navbar>ul{
        flex-direction: column;
        justify-content: center;
        visibility: hidden;
        height:0;
        opacity:0;
        transition: opacity  2s ease;
    }
    .BMenu{
        z-index:3;
        visibility: visible;
        opacity:0;
       
    }
    .BMenu-cont{
        z-index:2;
        visibility: visible;
        opacity:1;
        
    }
    .navbar .BMenu:checked ~ ul{
        visibility: visible;
        height: auto;
        opacity:1;
    }
    .navbar>ul li{
        margin-bottom: 10px;
    }
    .navbar>ul li a{
       text-align: left;
       padding:0 10px;
       width:100%;
    }
    .hero{
        flex-direction: column;
    }
    .hero .hero-des{
        order:2;
    }
    
}