:root{
    --pr-color:rgb(168, 57, 233);
    --pr1-color:rgba(119, 27, 172, 0.842);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display:flex;
    background-color:var(--pr-color);
    flex-wrap: wrap;
    justify-content:space-around;
    box-shadow: 0 8px 6px -6px black;
}
.navbar .logo:hover{
   cursor: pointer;
}
.navbar .logo img{
    height:70px;
    width: auto;
    padding-top:5px;
}
.navbar ul{
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    
}
.navbar ul li{
    flex:1;
    list-style: none;
    height: 100%;
    
}

.navbar ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top:12px;
    padding: 12px 12px 012px 12px;
    height: 70%;
}
.navbar ul li:last-child a{
    min-width:130px;
}
.navbar ul li a:hover{
    background-color:var(--pr1-color);
    border-radius: 5px;
    border-bottom:5px solid rgba(0, 0, 0, 0.11);
}
@media (max-width:600px){
    .navbar{
        flex-direction: column;
        justify-content: center;
    }
    .navbar ul{
        flex-direction: column;
        justify-content: center;
    }
    .navbar ul li{
        margin-bottom: 10px;
    }
    .navbar ul li a{
       text-align: left;
       padding:0 10px;
       width:100%;
    }
}