:root{
    --pr-color:rgb(168, 57, 233);
    --pr1-color:rgba(119, 27, 172, 0.842);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* *********************************************NavBar******************************* */
.navbar{
    position: fixed;
    width: 100%;
    display:flex;
    background-color:var(--pr-color);
    flex-wrap: wrap;
    justify-content:space-around;
    box-shadow: 0 8px 6px -6px black;
    z-index: 1;
}
.navbar .logo:hover{
   cursor: pointer;
}
.navbar .logo img{
    height:70px;
    width: auto;
    padding-top:5px;
}
.navbar ul{
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    
}
.navbar ul li{
    flex:1;
    list-style: none;
    height: 100%;
    
}

.navbar ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top:12px;
    padding: 12px 12px 012px 12px;
    height: 70%;
}
.navbar ul li:last-child a{
    min-width:130px;
}
.navbar ul li a:hover{
    background-color:var(--pr1-color);
    border-radius: 5px;
    border-bottom:5px solid rgba(0, 0, 0, 0.11);
}
.clear{
    height: 70px;
    clear: both;
}
/* *********************************************Hero******************************** */
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0.158)), url("../Images/Hero.png");
    background-position: left left;
    background-size:cover;
    background-repeat: no-repeat;
    color:white;
    padding:15% 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hero .hero-des{
    
}
.hero .hero-des h1{
font-size: 60px;
}
.hero .hero-des .des{
    width:20rem;
    font-size: 1.2rem;
}
.hero .hero-des .downloads a{
    display:inline-block;
    background:white;
    margin:15px 0;
    padding:15px 10px 7px 30px;
    text-decoration: none;
    font-size: 1.2rem;
    color:black;
    width:12rem;
    text-align:center;
    border-radius: 5px;
    border-bottom:5px solid rgba(0, 0, 0, 0);
    position: relative;
    font-weight: bold;
}
.hero .hero-des .downloads .google a img, .hero .hero-des .downloads .apple a img{
    height: 40px;
    width: auto;
    position: absolute;
    top:5px;
    left:15px;
}
.hero .hero-des .downloads a:hover{
    background:var(--pr1-color);
    border-bottom:5px solid rgba(0, 0, 0, 0.11);
    color:white;

}
.hero .hero-img img{
    max-width:600px;
    height: auto;
}
/* *********************************************Main******************************** */
/* *********************************************Fearures******************************** */
.container{
    text-align: center;
    margin:50px auto;
}
.container h2{
    font-size:2rem;
    margin-bottom: 40px;
}

.container .cont-features{
    display:flex;
    justify-content: space-evenly;
    
}
.container .cont-features .features{
    max-width:350px;
    min-height: 300px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 7px 17px -3px black;
    transition:transform 0.45s ease;   
}
.container .cont-features .features:hover{
    transform: scale(1.1);
}
.container .cont-features .features img{
    width:100%;
    height: auto;
}
.container .cont-features .features h3{
    font-size: 1.3rem;
    margin:5px;
}
.container .cont-features .features p{
    font-size: 1.1rem;
    margin-bottom: 5px;
}
/* *********************************************Pricing******************************** */


@media (max-width:600px){
    .navbar{
        flex-direction: column;
        justify-content: center;
    }
    .navbar ul{
        flex-direction: column;
        justify-content: center;
    }
    .navbar ul li{
        margin-bottom: 10px;
    }
    .navbar ul li a{
       text-align: left;
       padding:0 10px;
       width:100%;
    }
}